/*@tailwind base;
@tailwind components;
@tailwind utilities;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '--font-noto-sans', sans-serif;
}

body{
    min-height: 100vh;
    background:#202020;
    background-size: cover;
    background-repeat: center;
    overflow: hidden;
}
.navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
   /* background:rgba(0, 0, 0, .1);*/
    /*backdrop-filter:blur(50px) ;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.navbar-header .Logo{
    font-size: 2rem;
    color: #DB0000;
    text-decoration: none;
    font-weight: 700;
}
.navbar-header .navbar a {
    position: relative;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar-header .navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
    transition: .3s;
}

.navbar-header .navbar a:hover::before{
    width: 100%;
}

.navbar-header #check {
    display: none;
}
.navbar-header .icons{
    position: absolute;
    right: 5%;
   font-size:2.8rem;
   color: #fff;
   cursor: pointer; 
   display: none; 
}

.main-home{
    width: 100vw;
    height: 100vh;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-home .left-home{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-home .left-home > h1{
 color: #fff;
 font-size:22pt;
}

.main-home .left-home-image{
    width: 35vw;
}

.main-home .right-home{
    width: 43vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-home .right-home > h1{
 color: #fff;
 font-size:25pt;
}

.main-home .btn-entrar{
    height: 50px;
    width: 220px;
    padding: 12px 0px;
    margin:25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#fff;
    display: flex;
    justify-items: center;
    justify-content: center;
    background: #DB0000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #db00004e;
    transition: transform 200ms ease-in-out;
}

.main-home .btn-entrar:hover{
    transform: scale(1.1);
}


.main-home a{
    color: #DB0000;
    text-decoration: none;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-login .left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
}

.main-login .left-login > h1{
    color: #fff;
    font-size:30pt;
}

.main-login .left-login-image{
    width: 35vw;
}

.main-login .right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-login .card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    padding: 30px 35px;
    background: #30303066;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.main-login .card-login > h1 {
    color:#fff;
    font-weight: 800;
    margin:0;
}

.main-login .textfield{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:10px 0px;
}

.main-login .textfield > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #717171;
    color: #fff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline:none;
    box-sizing: border-box;
}

.main-login .textfield > label {
    color:#fff;
    margin-bottom: 10px;
}

.main-login ::placeholder{
    color:rgb(255, 255, 255);
}

.main-login .btn-login{
    width: 100%;
    padding: 16px 0px;
    margin:25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#ffffff;
    background: #d80000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #db00004e;
}

.main-login a{
    color: #DB0000;
    text-decoration: none;
}

.main-login .left-login {
    text-align: center;

}

@media only screen and (max-width: 950px){
    .main-login .card-login{
        width: 85%;
    }
    .main-login{
        flex-direction: column;
    }
    .main-login .left-login{
        display: none;
    }

    .main-login .left-login{
        width: 100%;
        height: auto;
    }

    .main-login .right-login{
        width: 100%;
        height: auto;
    }
    .main-login .left-login-image{
        width: 50vw;
    }
    .main-login .card-login{
        width: 90%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .main-login .left-login{
        display: none;
    }

    .main-login .left-login{
        width: 100%;
        height: auto;
    }

    .main-login .right-login{
        width: 100%;
        height: auto;
    }
    .main-login .left-login-image{
        width: 50vw;
    }
    .main-login .card-login{
        width: 90%;
    }

}


@media only screen and (max-width: 600px){
    .main-home{
        flex-direction: column;
    }
    .main-home .left-home{
        display: none;
    }

    .main-home .left-home{
        width: 100%;
        height: auto;
    }

    .main-home .right-home{
        width: 100%;
        height: auto;
    }
    .main-home .left-home-image{
        width: 50vw;
    }
}

@media (max-width:992px){
    .navbar-header .header{
        padding:1.3rem 5%;
    }
}
@media (max-width:768px){
    .navbar-header .icons {
        display: inline-flex;
    }

    .navbar-header #check:checked~.icons #menu-icon{
        display: none;  
    }
    .navbar-header .icons #close-icon{
        display:none;
    }
    .navbar-header #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar-header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background:rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;

    }
    .navbar-header #check:checked~.navbar{
        height: 9rem;
    }
    .navbar-header .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;  
        text-align: center; 
        transform:translateY(-50);
        transition:.3s ease ;
    }
    .navbar-header #check:checked~.navbar a { 
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}    